.viz{
  margin: 0 auto;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

#viz_0{
  width: 600px;
  height: 550px;
  margin: 0 auto;
}

#viz_1{
  width: 700px;
  height: 550px;
  margin: 0 auto;
}

#viz_2{
  width: 700px;
  height: 400px;
  margin: 0 auto;
}

.d3plus-textBox text{
  font-size: 8px;
}

#viz_3{
  display: inline-block;
  width: 450px;
  height: 250px;
  margin: 0 auto;
}

#viz_3_1{
  display: inline-block;
  width: 450px;
  height: 250px;
  margin: 0 auto;
}

#viz_4{
  width: 650px;
  height: 400px;
  margin: 0 auto;
}

#viz_5{
  width: 650px;
  height: 400px;
  margin: 0 auto;
}

#viz_6{
  width: 800px;
  height: 400px;
  margin: 0 auto;
}

#viz_7{
  width: 800px;
  height: 400px;
  margin: 0 auto;
}

#viz_8{
  width: 600px;
  height: 500px;
  margin: 0 auto;
}

#viz_9{
  width: 650px;
  height: 400px;
  margin: 0 auto;
}

#viz_10{
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

#viz_11{
  width: 700px;
  height: 450px;
  margin: 0 auto;
}

#viz_12{
  width: 600px;
  height: 450px;
  margin: 0 auto;
}

#viz_13{
  width: 800px;
  height: 450px;
  margin: 0 auto;
}

#viz_14{
  width: 1000px;
  height: 450px;
  margin: 0 auto;
}

#viz_15{
  width: 1200px;
  height: 450px;
  margin: 0 auto;
}

.column{
  padding: 1%;
  margin: 0 auto;
}

.viz svg{
	overflow: visible;
}

body{
  background-color: #E0D2B2;
}

.confianza{
  display: inline-block;
  width: 33%;
}